<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Cadastro de produtos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cadastro">
  <ion-card>
    <div>
      <ion-icon name="fast-food" color="light"></ion-icon>
    </div>
    <form #produtoForm="ngForm" novalidate>
      <ion-item>
        <ion-input type="text" disabled="true" placeholder="Nome" name="prod_nome" [(ngModel)]="produto.prod_nome">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-select disabled="true" placeholder="Selecione a categoria" name="categoria" [(ngModel)]="produto.categoria"
          [compareWith]="compareWith">
          <ion-select-option *ngFor="let categoria of categoria" [value]="categoria">
            {{categoria.descricao}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="number" disabled="true" placeholder="Valor unitário" name="prod_preco" [(ngModel)]="produto.prod_preco">
        </ion-input>
      </ion-item>
    </form>
  </ion-card>
</ion-content>